/*Generals*/
*{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    
}



/*header*/
header{
    background-color: white;
    height: 100px;
    margin: 0;
}

h1{
    display: inline;
    font-style: arial;
    font-size: 50px;
    font-weight: bolder;
}

#logo_boolean, h1{
    margin-top: 20px;
}

/*nav*/
nav{
    background-color: white;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
    padding: 30px;
}

.Add{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.Task{
    color: white;
    background-color: #47adf1;
}

.Sec{
    color: #ccd1d5;
    background-color: white;
    border-color: #ccd1d5;
    border-width: medium;
    border-style: solid;
}

/*main*/
details{
    background-color: white;
    margin-top: 0px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 0px;
    padding: 30px;
}

summary{
    font-weight: bold;
    background-color: white;
}
/*logo*/
#logo-check{
    color: green;
    border-radius: 50%;
    border-color: green;
    border-width: medium;
    border-style: solid;
    background-color: white;
}


#logo-cross{
    color: red;
    border-radius: 50%;
    border-color: red;
    border-width: medium;
    border-style: solid;
    background-color: white;
}

/*post-it*/
#editorial{
    color: white;
    background-color: #47adf1;
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;
}

#Q1{
    color: white;
    background-color: purple;
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;
   
}

#Recruiting{
    color: white;
    background-color: green;
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;
}

#Mobile{
    color: white;
    background-color: orange;
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;
}

#Website{
    color: white;
    background-color: pink;
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;
}

#Sales{
    color: white;
    background-color: #a1cc16;
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;
}


